<div cdkDropListGroup>
  <div class="zone-container" *ngFor="let zone of zones$ | async">
    <h2>{{ zone.friendlyName }}</h2>
    <div
      (dblclick)="selectZone(zone)"
      cdkDropList
      [cdkDropListData]="zone.members"
      class="member-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="member-box" *ngFor="let item of zone.members" cdkDrag>
        <mat-expansion-panel
          [ngClass]="{ selected: (selectedZone$ | async)?.id === zone.id }"
          class="member-expansion-panel"
          hideToggle
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon
                *ngIf="item.type === 'group'"
                aria-hidden="false"
                aria-label="speaker icon"
                >speaker_group</mat-icon
              >
              <mat-icon
                *ngIf="item.type === 'device'"
                aria-hidden="false"
                aria-label="speaker icon"
                >speaker</mat-icon
              >
            </mat-panel-title>
            <mat-panel-description>
              {{ item.friendlyName }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list *ngIf="item.type === 'group'" role="list">
            <mat-list-item *ngFor="let member of (item | castToGroup).members; last as last" role="listitem">
              <div mat-line>{{member.friendlyName}}</div>
              <mat-chip-list aria-label="Report Type">
                <mat-chip>{{ member.audioChannel}}</mat-chip>
              </mat-chip-list >
              <mat-divider *ngIf="!last"></mat-divider>           
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
        <div class="member-handle" cdkDragHandle>
          <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
            <path
              d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
            ></path>
            <path d="M0 0h24v24H0z" fill="none"></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
